/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body 
{
    overflow-x:hidden;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*
{
    box-sizing: border-box;
}

.small-header
{
    font-size: 16px;
    color: #ff5a3c;
    background-color: #ff5a3c40;
    border-radius: 32%;
    padding: 1px 15px;
}
.big-header
{
    font-size: 44px;
    font-weight: bold;
}
.container 
{
    width: 1400px;
}

.navbar-main-container
{
    padding: 25px 0 ;
    margin: 0 250px;
    .row
    {
        align-items: center;
        flex-direction: row;
    }
}

.navbar-links
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    ul 
    {
        display: flex;
        padding: 0 !important;
        margin: 0 !important;
        
    }
    .navbar-link
    {
        position: relative;
        padding: 0 9px;
        a 
        {
            transition: .2s all;
            color: black;
            text-decoration: none;
            font-size: 20px;
            i 
            {
                font-size: 16px;
            }
        }
        .sub-links
        {
            position: absolute;
            display: none;
        }
    }
    .navbar-link:hover
    {
        a 
        {
            color: rgb(255,90,60);
        }
    }
}

.navbar-btns
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
    div 
    {
        padding: 10px;
        transition: .2s ;
        i 
        {
            font-size: 25px;
        }
    }
    div:hover
    {
        background-color: rgb(255,90,60) ;
    }
}

.navbar-top-main-container
{
    background-color: rgb(11,44,61);
    position: relative;
    .row 
    {
        margin: 0px 250px;
        align-items: center;
        div 
        {
            padding: 0px !important;
        }
    }
    .navbar-contacts
    {
        ul 
        {
            padding: 10px 0 ;
            margin: 0px !important;
            display: flex;
            li
            {
                padding: 0 10px;
                a 
                {
                    transition: .2s all;
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    i 
                    {
                        color: rgb(255,90,60);
                    }
                }
            }
            li:hover
            {
                a
                {
                    color: rgb(255,90,60);
                }
            }
        }
    }
    .navbar-social-media
    {
        ul 
        {
            column-gap: 10px;
            padding: 10px 0 ;
            margin: 0px !important;
            display: flex;
            justify-content: flex-end;
            li 
            {
                a 
                {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

.header-top-btn
{
    display: flex;
    justify-content: flex-end;
    a 
    {
        padding: 10px;
        color: white;
        text-decoration: none;
        background-color: rgb(255,90,60);
    }
}

.focus-main-container
{
    background-color: rgb(241,245,247);
    .focus-header
    {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .focus-cards-container
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .card
        {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            position: relative;
            margin: 15px;
            .card-info
            {
                padding: 10px;
                .card-header-link
                {
                    a 
                    {
                        color: black;
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 24px;
                        transition: .2s all;
                    }
                }
                .card-header-link:hover
                {
                    a 
                    {
                        color: tomato;
                    }
                }
                .card-description-text
                {
                    color: #5c727d;
                    font-size: 14px;
                    text-align: center;
                }
                .card-btn
                {
                    color: #5c727d;
                    font-size: 14px;
                    text-decoration: none;
                    transition: .2s all;
                }
                .card-btn:hover
                {
                    color: tomato;
                }
            }
        }
        .card:hover
        {
            transition: .3s all;
        }
        .card:hover::after
        {
            position: absolute;
            content: " ";
            width: 100%;
            background-color: tomato;
            height: 10px;
            bottom: 0;
        }
    }
}

.footer-main-cotainer
{
    padding: 60px 65px;
    background-color: rgb(23,27,42);
    .footer-contact-con
    {
        .footer-logo
        {
            margin-bottom: 1rem;
        }
        .footer-contact-text
        {
            p 
            {
                color: white;
            }
        }
        .footer-contacts
        {
            margin-bottom: 1rem;
            ul 
            {
                margin: 0px !important;
                padding: 0px !important;
                li
                {
                    i 
                    {
                        color: white;
                        margin-right: 20px;
                    }
                    span 
                    {
                        color: white;
                    }
                }
            }
        }
        .footer-social-media
        {
            a 
            {
                color: white;
                font-size: 18px;
                text-decoration: none;
                padding-right: 12px;

            }
        }
    }
    .footer-menu-container
    {
        .footer-menu
        {
            ul 
            {
                margin: 0px !important;
                padding: 0px !important;
                li 
                {
                    margin-bottom: 15px;
                    a 
                    {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .footer-menu-header
    {
        color: white;
        font-size: 22px;
        margin-bottom: 1rem !important;
    }
    .footer-aditional-info-container
    {
        .footer-news-letter-form
        {
            .news-form
            {
                input 
                {
                    width: 71%;
                    height: 49px;
                    margin-bottom: 1rem;
                }
                i 
                {
                    background-color: tomato;
                    color: white;
                    font-size: 20px;
                    padding: 14px;
                }
            }
        }
    }
}

.footer-copyright-main-container
{
    padding: 25px 65px;
    background-color: rgb(40,43,56);
    .copyright-con
    {
        p 
        {
            color: white;
            margin: 0 !important;
        }
    }
    .copyright-btn-con
    {
        ul 
        {
            column-gap: 15px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            margin: 0px !important;
            padding: 0px !important;
            li 
            {
                padding-right: 10px;
                a 
                {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

.apartments-main-container
{
    .apartment-header-con
    {
        margin: 50px 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .tab-control-con
    {
        margin: 50px 0;
        ul 
        {
            padding: 0 !important;
            margin: 0 !important;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 45px;
            li 
            {
                a 
                {
                    font-size: 20px;
                    color: black;
                    text-decoration:none;
                    cursor: pointer;
                }
            }
        }
    }
    .tab-content-con
    {
        .tab-content-info
        {
            padding: 70px;
            background-color: rgb(213,97,76);
            h2 
            {
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 1rem;
                color: white;
            }
            p 
            {
                font-size: 16px;
                color: white;
                margin-bottom: 1rem;
            }
            ul 
            {
                margin: 0 !important;
                padding: 0 !important;
                li 
                {
                    position: relative;
                    margin-bottom: 2rem;
                    span 
                    {
                        color: white;
                    }
                    .right-txt
                    {
                       float: right;
                    }
                }
            }
        }
        .tab-content-img 
        {
            width: 570;
            height: 546;
            img 
            {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.building-main-container
{
    margin-bottom: 50px;
    .row 
    {
        .building-header-con
        {
            margin: 50px 0;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }
        .building-cards-con
        {
            ul 
            {
                column-gap: 55px;
                row-gap: 55px;
                justify-content: center;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0 !important;
                margin: 0 !important;
                li 
                {
                    position: relative;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    border: 1px solid transparent;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: nowrap;
                    align-content: center;
                    transition: .2s all;
                    .card-main-logo
                    {
                        margin: 15px 0;
                        padding: 20px;
                        font-size: 50px;
                        background-color: #ffded8;
                        color: tomato;
                        border-radius: 50%;
                    }
                    p 
                    {
                        font-family:'Poppins', sans-serif;
                        font-size: 22px;
                        font-weight: bold;
                        margin: 1rem 0;
                        padding-bottom: 1rem;
                    }
                    .card-btn
                    {
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        position: absolute;
                        bottom: -24px;
                        left: 40%;
                        font-size: 25px;
                        background-color: white;
                        border-radius: 50%;
                        padding: 10px;
                        color: rgb(172, 172, 172);
                    }
                }
                li:hover 
                {
                    transition: .2s all;
                    background-color: tomato;
                    .card-main-logo
                    {
                        background-color: white;
                    }
                    .card-btn
                    {
                        color: tomato;
                    }
                    p 
                    {
                        color: white;
                    }
                }
            }
        }
    }
}

.about-us-main-con
{
    .row
    {
        .about-us-img-con
        {
            display: flex;
            justify-content: flex-end;
        }
        .about-us-info
        {
            padding-top: 25px;
            .info-header
            {
                span 
                {
                    margin-bottom: 1rem;
                }
                h2 
                {
                    margin-bottom: 3rem;
                }
            }
            p 
            {
                color: #5c727d;
                font-size: 16px;
                line-height: 31px;
                margin-bottom: 3rem;
            }
            .info-cards-con
            {
                margin-bottom: 3rem;
                ul
                {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: center;
                    row-gap: 15px;
                    margin: 0 !important;
                    padding: 0 !important;
                    li 
                    {
                        i 
                        {
                            margin-right: 20px;
                            color: tomato;
                            padding: 12px;
                            font-size: 23px;
                            border-radius: 50%;
                            background-color: #f5dfdc;
                        }

                    }
                }
            }
            .info-quote-con
            {
                margin-bottom: 3rem;
                background-color: rgba(213, 97, 76, 0.24);
                padding: 22px;
                border-left: 6px solid tomato;
                p 
                {
                    margin: 0 !important;
                }
            } 
            .info-btn-con
            {
                cursor: pointer;
                background-color: tomato;
                display: inline-block;
                padding: 17px 40px;
                a  
                {
                    text-decoration: none;
                    color: white;
                    font-size: 17px;
                    font-weight: 500;
                }
            }
        }
    }
}

#AboutUsBottom
{
    background-color: whitesmoke;
}
.container-about-us-bottom
{
    padding: 100px 0px;
    .row
    {
        .about-us-sub-con
        {
            text-align: center;
            i 
            {
                font-size: 65px;
                color: tomato;
                margin-bottom: 1rem;
            }
            .sub-con-top-text
            {
                font-size: 46px;
                font-weight: 700;
            }
            .sub-con-bottom-text
            {
                color: #5c727d;
                font-weight: 700;
                font-size: 16px;
            }
        }
    }
}

.today-sell-main-container
{
    padding: 50px 0px;
    .row 
    {
        .sell-info-con
        {
            padding: 25px 0px;
            .sell-info-header
            {
                margin-bottom: 2rem;
                h2 
                {
                    margin-bottom: 2rem;
                }
            }
            .sell-info-text
            {
                color: #5c727d;
                font-size: 16px;
                line-height: 31px;
                margin-bottom: 2rem;
            }
            .sell-info-list-con
            {
                margin-bottom: 2rem;
                ul 
                {
                    margin: 0 !important;
                    li 
                    {
                        position: relative;
                        margin-bottom: 5px;
                        color: #5c727d;
                        word-spacing: 3px;
                        font-weight: 400;
                        letter-spacing: 2px;
                    }
                }
            }
            .sell-info-cards-con
            {
                margin-bottom: 2rem;
                ul 
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 0 !important;
                    padding: 0 !important;
                    li 
                    {
                        color: #5c727d;
                        padding: 10px;
                        span 
                        {
                            margin-right: 10px;
                        }
                        p 
                        {
                            margin: 0 !important;
                        }
                    }
                }
            }
            .sell-info-img-con
            {
                margin-bottom: 2rem;
                ul 
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin: 0 !important;
                    padding: 0 !important;
                    li 
                    {
                        padding: 10px;
                        img 
                        {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .sell-imaga-main-con
        {
            img 
            {
                width: 100%;
                height: 100%;
            }
        }
    }
}
#ClientFeedBack
{
    background-repeat: no-repeat;
    background-image: url('../image/backgroud\ img.jpg');
}
.feedback-main-container
{
    padding: 100px 0px;
    .feed-back-header
    {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .feedback-card-main-con
    {
        padding: 40px 0px;
        .row
        {
            .card-container
            {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                background-color: white;
                position: relative;
                border: 1px solid gray;
                padding: 40px;
                border-radius: 7px;
                p 
                {
                    line-height: 28px;
                    color: #5c727d;
                    font-size: 18px;
                    i 
                    {
                        font-size: 35px;
                        margin-right: 7px;
                        transition: .3s all;
                    }
                }
                .card-user-con
                {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;
                    column-gap: 15px;
                    .user-img-con
                    {
                        img 
                        {
                            border-radius: 50%;
                            width: 100%;
                            height: 100%;
                            padding: 10px
                        }
                    }
                    .user-info-con
                    {
                        .user-info-name
                        {
                            margin: 0 !important;
                            color: black;
                            font-weight: 700;
                        }
                        .user-info-work
                        {
                            margin: 0 !important;
                        }
                    }
                }
            }
            .card-container:hover
            {
                p 
                {
                    i 
                    {
                        color: tomato;
                    }
                }
            }
            .card-container::after 
            {
                position: absolute;
                content: " ";
                width: 0%;
                height: 1px;
                border-bottom: solid 6px tomato;
                bottom: 0;
                left:0;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                transition: .3s all;
            }
            .card-container:hover::after
            {
                width: 100%;
            }
        }
    }
}

.news-main-container
{
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    .row
    {
        .news-header-con
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            margin-bottom: 3rem;
        }
        .news-cards-main-con
        {
            display: flex;
            flex-direction: row;
            .col-size
            {
                padding: 20px;
            }
            .news-sub-card
            {
                overflow: hidden;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                .card-img-con
                {
                    overflow: hidden; 
                    img 
                    {
                        transition: .3s all;
                        width: 100%;
                    }
                    img:hover 
                    {
                        transform: scale(1.2);
                    }
                }
                .card-content
                {
                    padding: 30px;
                    .card-user-con
                    {
                        ul 
                        {
                            display: flex;
                            justify-content: space-between;
                            flex-direction: row;
                            align-items: center;
                            margin: 0 !important;
                            padding:0 !important;
                            li 
                            {
                                padding: 10px 0;
                                font-size: 14px;
                                transition: .3s all;
                                color: #5c727d;
                                i 
                                {
                                    margin-right: 10px;
                                    color: tomato;
                                } 
                            } 
                            li:hover 
                            {
                                color: tomato;
                            }
                        }
                    }
                    .card-header-con 
                    {
                        .card-header
                        {
                            transition: .3s all;
                            font-size: 22px;
                            font-weight: 600;
                            background-color: white;
                            padding: 10px 0 !important;
                        }
                        .card-header:hover 
                        {
                            color: tomato;
                        }
                    }
                    .card-date-con
                    {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 0px;
                        .card-date
                        {
                            i 
                            {
                                color: tomato;
                            }
                            span 
                            {
                                font-weight: 600;
                                font-size: 14px;
                                color: #5c727d;
                            }
                        }
                        a 
                        {
                            text-decoration: none;
                            color: tomato;
                        }
                    }
                }

            }
        }
    }
}

.listing-main-container
{
    .col-size
    {
        padding: 10px;
    }
    padding: 100px 0px;
    .listing-header-con
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-bottom: 3rem;
    }
    .listing-card-con
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .card-con
        {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            .card-img-con
            {
                position: relative;
                img 
                {
                    width: 100%;
                    height: 100%;
                }
                .card-status
                {
                    position: absolute;
                    top: 10px;
                    right: 12px;
                    color: white;
                    background-color: #77c720;
                    padding: 2px 10px;
                }
                .card-location
                {
                    position: absolute;
                    bottom: 13px;
                    left: 11px;
                    color: white;
                    i 
                    {
                        margin-right: 10px;
                    }
                }
                .card-photo-count
                {
                    position: absolute;
                    bottom: 13px;
                    right: 10px;
                    color: white;
                    background-color: #00000082;
                    padding: 0px 7px;
                    i 
                    {
                        margin-left: 7px;
                    }
                }
                .card-video-con
                {
                    position: absolute;
                    bottom: 13px;
                    right: 72px;
                    color: white;
                    background-color: #00000082;
                    padding: 0px 7px;
                    i 
                    {
                        margin-left: 7px;
                    }
                }
            }
            .card-info-con
            {
                padding: 30px;
                .card-price
                {
                    color: tomato;
                    font-size: 20px;
                    font-weight: 500;
                }
                .card-header
                {
                    font-size: 22px;
                    background-color: white;
                    border: none;
                    font-weight: 700;
                    margin-bottom: 1rem;
                    padding: 0 !important;
                }
                .card-text
                {
                    font-size: 14px;
                    margin-bottom: 1rem;
                    line-height: 26px;
                    color: #5c727d;
                }
                .card-sub-list
                {
                    ul
                    {
                        margin: 0 !important;
                        padding: 0 !important;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        column-gap: 20px;
                        li 
                        {
                            span 
                            {
                                font-size: 14px;
                                color: #5c727d;
                            }
                            i
                            {
                                margin-left: 7px;
                                font-size: 14px;
                                color: #5c727d;
                            }
                            p 
                            {
                                font-size: 14px;
                                color: #5c727d;
                                margin: 0 !important;
                            }
                        }
                    }
                }
            }
            .card-user-con 
            {
                display: flex;
                align-items: center;
                flex-direction: row;
                .user-img-con
                {
                    img 
                    {
                        width: 100%;
                        border-radius: 50%;
                        padding: 20px;
                    }
                }
                .user-info-con
                {
                    .user-info-name
                    {
                        font-weight: 600;
                        font-size: 14px;
                        margin: 0 !important;
                    }
                    .user-info-work
                    {
                        font-size : 12px;
                        color: #5c727d;
                        margin: 0 !important;
                    }
                }
                .card-user-btn-con
                {
                    ul 
                    {
                        justify-content: flex-start;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        column-gap: 18px;
                        margin: 0 !important;
                        padding: 0 !important;
                        li 
                        {
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                            i 
                            {
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}