/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  overflow-x: hidden;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.small-header {
  font-size: 16px;
  color: #ff5a3c;
  background-color: #ff5a3c40;
  border-radius: 32%;
  padding: 1px 15px;
}

.big-header {
  font-size: 44px;
  font-weight: bold;
}

.container {
  width: 1400px;
}

.navbar-main-container {
  padding: 25px 0;
  margin: 0 250px;
}

.navbar-main-container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 !important;
  margin: 0 !important;
}

.navbar-links .navbar-link {
  position: relative;
  padding: 0 9px;
}

.navbar-links .navbar-link a {
  -webkit-transition: .2s all;
  transition: .2s all;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.navbar-links .navbar-link a i {
  font-size: 16px;
}

.navbar-links .navbar-link .sub-links {
  position: absolute;
  display: none;
}

.navbar-links .navbar-link:hover a {
  color: #ff5a3c;
}

.navbar-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.navbar-btns div {
  padding: 10px;
  -webkit-transition: .2s;
  transition: .2s;
}

.navbar-btns div i {
  font-size: 25px;
}

.navbar-btns div:hover {
  background-color: #ff5a3c;
}

.navbar-top-main-container {
  background-color: #0b2c3d;
  position: relative;
}

.navbar-top-main-container .row {
  margin: 0px 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-top-main-container .row div {
  padding: 0px !important;
}

.navbar-top-main-container .navbar-contacts ul {
  padding: 10px 0;
  margin: 0px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-top-main-container .navbar-contacts ul li {
  padding: 0 10px;
}

.navbar-top-main-container .navbar-contacts ul li a {
  -webkit-transition: .2s all;
  transition: .2s all;
  color: white;
  text-decoration: none;
}

.navbar-top-main-container .navbar-contacts ul li a i {
  color: #ff5a3c;
}

.navbar-top-main-container .navbar-contacts ul li:hover a {
  color: #ff5a3c;
}

.navbar-top-main-container .navbar-social-media ul {
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding: 10px 0;
  margin: 0px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-top-main-container .navbar-social-media ul li a {
  color: white;
  text-decoration: none;
}

.header-top-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-top-btn a {
  padding: 10px;
  color: white;
  text-decoration: none;
  background-color: #ff5a3c;
}

.focus-main-container {
  background-color: #f1f5f7;
}

.focus-main-container .focus-header {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.focus-main-container .focus-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.focus-main-container .focus-cards-container .card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  margin: 15px;
}

.focus-main-container .focus-cards-container .card .card-info {
  padding: 10px;
}

.focus-main-container .focus-cards-container .card .card-info .card-header-link a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.focus-main-container .focus-cards-container .card .card-info .card-header-link:hover a {
  color: tomato;
}

.focus-main-container .focus-cards-container .card .card-info .card-description-text {
  color: #5c727d;
  font-size: 14px;
  text-align: center;
}

.focus-main-container .focus-cards-container .card .card-info .card-btn {
  color: #5c727d;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.focus-main-container .focus-cards-container .card .card-info .card-btn:hover {
  color: tomato;
}

.focus-main-container .focus-cards-container .card:hover {
  -webkit-transition: .3s all;
  transition: .3s all;
}

.focus-main-container .focus-cards-container .card:hover::after {
  position: absolute;
  content: " ";
  width: 100%;
  background-color: tomato;
  height: 10px;
  bottom: 0;
}

.footer-main-cotainer {
  padding: 60px 65px;
  background-color: #171b2a;
}

.footer-main-cotainer .footer-contact-con .footer-logo {
  margin-bottom: 1rem;
}

.footer-main-cotainer .footer-contact-con .footer-contact-text p {
  color: white;
}

.footer-main-cotainer .footer-contact-con .footer-contacts {
  margin-bottom: 1rem;
}

.footer-main-cotainer .footer-contact-con .footer-contacts ul {
  margin: 0px !important;
  padding: 0px !important;
}

.footer-main-cotainer .footer-contact-con .footer-contacts ul li i {
  color: white;
  margin-right: 20px;
}

.footer-main-cotainer .footer-contact-con .footer-contacts ul li span {
  color: white;
}

.footer-main-cotainer .footer-contact-con .footer-social-media a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding-right: 12px;
}

.footer-main-cotainer .footer-menu-container .footer-menu ul {
  margin: 0px !important;
  padding: 0px !important;
}

.footer-main-cotainer .footer-menu-container .footer-menu ul li {
  margin-bottom: 15px;
}

.footer-main-cotainer .footer-menu-container .footer-menu ul li a {
  color: white;
  text-decoration: none;
}

.footer-main-cotainer .footer-menu-header {
  color: white;
  font-size: 22px;
  margin-bottom: 1rem !important;
}

.footer-main-cotainer .footer-aditional-info-container .footer-news-letter-form .news-form input {
  width: 71%;
  height: 49px;
  margin-bottom: 1rem;
}

.footer-main-cotainer .footer-aditional-info-container .footer-news-letter-form .news-form i {
  background-color: tomato;
  color: white;
  font-size: 20px;
  padding: 14px;
}

.footer-copyright-main-container {
  padding: 25px 65px;
  background-color: #282b38;
}

.footer-copyright-main-container .copyright-con p {
  color: white;
  margin: 0 !important;
}

.footer-copyright-main-container .copyright-btn-con ul {
  -webkit-column-gap: 15px;
          column-gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px !important;
  padding: 0px !important;
}

.footer-copyright-main-container .copyright-btn-con ul li {
  padding-right: 10px;
}

.footer-copyright-main-container .copyright-btn-con ul li a {
  color: white;
  text-decoration: none;
}

.apartments-main-container .apartment-header-con {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apartments-main-container .tab-control-con {
  margin: 50px 0;
}

.apartments-main-container .tab-control-con ul {
  padding: 0 !important;
  margin: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 45px;
          column-gap: 45px;
}

.apartments-main-container .tab-control-con ul li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.apartments-main-container .tab-content-con .tab-content-info {
  padding: 70px;
  background-color: #d5614c;
}

.apartments-main-container .tab-content-con .tab-content-info h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}

.apartments-main-container .tab-content-con .tab-content-info p {
  font-size: 16px;
  color: white;
  margin-bottom: 1rem;
}

.apartments-main-container .tab-content-con .tab-content-info ul {
  margin: 0 !important;
  padding: 0 !important;
}

.apartments-main-container .tab-content-con .tab-content-info ul li {
  position: relative;
  margin-bottom: 2rem;
}

.apartments-main-container .tab-content-con .tab-content-info ul li span {
  color: white;
}

.apartments-main-container .tab-content-con .tab-content-info ul li .right-txt {
  float: right;
}

.apartments-main-container .tab-content-con .tab-content-img {
  width: 570;
  height: 546;
}

.apartments-main-container .tab-content-con .tab-content-img img {
  width: 100%;
  height: 100%;
}

.building-main-container {
  margin-bottom: 50px;
}

.building-main-container .row .building-header-con {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.building-main-container .row .building-cards-con ul {
  -webkit-column-gap: 55px;
          column-gap: 55px;
  row-gap: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 !important;
  margin: 0 !important;
}

.building-main-container .row .building-cards-con ul li {
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid transparent;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.building-main-container .row .building-cards-con ul li .card-main-logo {
  margin: 15px 0;
  padding: 20px;
  font-size: 50px;
  background-color: #ffded8;
  color: tomato;
  border-radius: 50%;
}

.building-main-container .row .building-cards-con ul li p {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin: 1rem 0;
  padding-bottom: 1rem;
}

.building-main-container .row .building-cards-con ul li .card-btn {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  bottom: -24px;
  left: 40%;
  font-size: 25px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  color: #acacac;
}

.building-main-container .row .building-cards-con ul li:hover {
  -webkit-transition: .2s all;
  transition: .2s all;
  background-color: tomato;
}

.building-main-container .row .building-cards-con ul li:hover .card-main-logo {
  background-color: white;
}

.building-main-container .row .building-cards-con ul li:hover .card-btn {
  color: tomato;
}

.building-main-container .row .building-cards-con ul li:hover p {
  color: white;
}

.about-us-main-con .row .about-us-img-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about-us-main-con .row .about-us-info {
  padding-top: 25px;
}

.about-us-main-con .row .about-us-info .info-header span {
  margin-bottom: 1rem;
}

.about-us-main-con .row .about-us-info .info-header h2 {
  margin-bottom: 3rem;
}

.about-us-main-con .row .about-us-info p {
  color: #5c727d;
  font-size: 16px;
  line-height: 31px;
  margin-bottom: 3rem;
}

.about-us-main-con .row .about-us-info .info-cards-con {
  margin-bottom: 3rem;
}

.about-us-main-con .row .about-us-info .info-cards-con ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  margin: 0 !important;
  padding: 0 !important;
}

.about-us-main-con .row .about-us-info .info-cards-con ul li i {
  margin-right: 20px;
  color: tomato;
  padding: 12px;
  font-size: 23px;
  border-radius: 50%;
  background-color: #f5dfdc;
}

.about-us-main-con .row .about-us-info .info-quote-con {
  margin-bottom: 3rem;
  background-color: rgba(213, 97, 76, 0.24);
  padding: 22px;
  border-left: 6px solid tomato;
}

.about-us-main-con .row .about-us-info .info-quote-con p {
  margin: 0 !important;
}

.about-us-main-con .row .about-us-info .info-btn-con {
  cursor: pointer;
  background-color: tomato;
  display: inline-block;
  padding: 17px 40px;
}

.about-us-main-con .row .about-us-info .info-btn-con a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
}

#AboutUsBottom {
  background-color: whitesmoke;
}

.container-about-us-bottom {
  padding: 100px 0px;
}

.container-about-us-bottom .row .about-us-sub-con {
  text-align: center;
}

.container-about-us-bottom .row .about-us-sub-con i {
  font-size: 65px;
  color: tomato;
  margin-bottom: 1rem;
}

.container-about-us-bottom .row .about-us-sub-con .sub-con-top-text {
  font-size: 46px;
  font-weight: 700;
}

.container-about-us-bottom .row .about-us-sub-con .sub-con-bottom-text {
  color: #5c727d;
  font-weight: 700;
  font-size: 16px;
}

.today-sell-main-container {
  padding: 50px 0px;
}

.today-sell-main-container .row .sell-info-con {
  padding: 25px 0px;
}

.today-sell-main-container .row .sell-info-con .sell-info-header {
  margin-bottom: 2rem;
}

.today-sell-main-container .row .sell-info-con .sell-info-header h2 {
  margin-bottom: 2rem;
}

.today-sell-main-container .row .sell-info-con .sell-info-text {
  color: #5c727d;
  font-size: 16px;
  line-height: 31px;
  margin-bottom: 2rem;
}

.today-sell-main-container .row .sell-info-con .sell-info-list-con {
  margin-bottom: 2rem;
}

.today-sell-main-container .row .sell-info-con .sell-info-list-con ul {
  margin: 0 !important;
}

.today-sell-main-container .row .sell-info-con .sell-info-list-con ul li {
  position: relative;
  margin-bottom: 5px;
  color: #5c727d;
  word-spacing: 3px;
  font-weight: 400;
  letter-spacing: 2px;
}

.today-sell-main-container .row .sell-info-con .sell-info-cards-con {
  margin-bottom: 2rem;
}

.today-sell-main-container .row .sell-info-con .sell-info-cards-con ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}

.today-sell-main-container .row .sell-info-con .sell-info-cards-con ul li {
  color: #5c727d;
  padding: 10px;
}

.today-sell-main-container .row .sell-info-con .sell-info-cards-con ul li span {
  margin-right: 10px;
}

.today-sell-main-container .row .sell-info-con .sell-info-cards-con ul li p {
  margin: 0 !important;
}

.today-sell-main-container .row .sell-info-con .sell-info-img-con {
  margin-bottom: 2rem;
}

.today-sell-main-container .row .sell-info-con .sell-info-img-con ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 !important;
  padding: 0 !important;
}

.today-sell-main-container .row .sell-info-con .sell-info-img-con ul li {
  padding: 10px;
}

.today-sell-main-container .row .sell-info-con .sell-info-img-con ul li img {
  width: 100%;
  height: 100%;
}

.today-sell-main-container .row .sell-imaga-main-con img {
  width: 100%;
  height: 100%;
}

#ClientFeedBack {
  background-repeat: no-repeat;
  background-image: url("../image/backgroud img.jpg");
}

.feedback-main-container {
  padding: 100px 0px;
}

.feedback-main-container .feed-back-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback-main-container .feedback-card-main-con {
  padding: 40px 0px;
}

.feedback-main-container .feedback-card-main-con .row .card-container {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  position: relative;
  border: 1px solid gray;
  padding: 40px;
  border-radius: 7px;
}

.feedback-main-container .feedback-card-main-con .row .card-container p {
  line-height: 28px;
  color: #5c727d;
  font-size: 18px;
}

.feedback-main-container .feedback-card-main-con .row .card-container p i {
  font-size: 35px;
  margin-right: 7px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.feedback-main-container .feedback-card-main-con .row .card-container .card-user-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.feedback-main-container .feedback-card-main-con .row .card-container .card-user-con .user-img-con img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.feedback-main-container .feedback-card-main-con .row .card-container .card-user-con .user-info-con .user-info-name {
  margin: 0 !important;
  color: black;
  font-weight: 700;
}

.feedback-main-container .feedback-card-main-con .row .card-container .card-user-con .user-info-con .user-info-work {
  margin: 0 !important;
}

.feedback-main-container .feedback-card-main-con .row .card-container:hover p i {
  color: tomato;
}

.feedback-main-container .feedback-card-main-con .row .card-container::after {
  position: absolute;
  content: " ";
  width: 0%;
  height: 1px;
  border-bottom: solid 6px tomato;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.feedback-main-container .feedback-card-main-con .row .card-container:hover::after {
  width: 100%;
}

.news-main-container {
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.news-main-container .row .news-header-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.news-main-container .row .news-cards-main-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.news-main-container .row .news-cards-main-con .col-size {
  padding: 20px;
}

.news-main-container .row .news-cards-main-con .news-sub-card {
  overflow: hidden;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.news-main-container .row .news-cards-main-con .news-sub-card .card-img-con {
  overflow: hidden;
}

.news-main-container .row .news-cards-main-con .news-sub-card .card-img-con img {
  -webkit-transition: .3s all;
  transition: .3s all;
  width: 100%;
}

.news-main-container .row .news-cards-main-con .news-sub-card .card-img-con img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.news-main-container .row .news-cards-main-con .news-sub-card .card-content {
  padding: 30px;
}

.news-main-container .row .news-cards-main-con .news-sub-card .card-content .card-user-con ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}

.news-main-container .row .news-cards-main-con .news-sub-card .card-content .card-user-con ul li {
  padding: 10px 0;
  font-size: 14px;
  -webkit-transition: .3s all;
  transition: .3s all;
  color: #5c727d;
}

.news-main-container .row .news-cards-main-con .news-sub-card .card-content .card-user-con ul li i {
  margin-right: 10px;
  color: tomato;
}

.news-main-container .row .news-cards-main-con .news-sub-card .card-content .card-user-con ul li:hover {
  color: tomato;
}

.news-main-container .row .news-cards-main-con .news-sub-card .card-content .card-header-con .card-header {
  -webkit-transition: .3s all;
  transition: .3s all;
  font-size: 22px;
  font-weight: 600;
  background-color: white;
  padding: 10px 0 !important;
}

.news-main-container .row .news-cards-main-con .news-sub-card .card-content .card-header-con .card-header:hover {
  color: tomato;
}

.news-main-container .row .news-cards-main-con .news-sub-card .card-content .card-date-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
}

.news-main-container .row .news-cards-main-con .news-sub-card .card-content .card-date-con .card-date i {
  color: tomato;
}

.news-main-container .row .news-cards-main-con .news-sub-card .card-content .card-date-con .card-date span {
  font-weight: 600;
  font-size: 14px;
  color: #5c727d;
}

.news-main-container .row .news-cards-main-con .news-sub-card .card-content .card-date-con a {
  text-decoration: none;
  color: tomato;
}

.listing-main-container {
  padding: 100px 0px;
}

.listing-main-container .col-size {
  padding: 10px;
}

.listing-main-container .listing-header-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.listing-main-container .listing-card-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.listing-main-container .listing-card-con .card-con {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.listing-main-container .listing-card-con .card-con .card-img-con {
  position: relative;
}

.listing-main-container .listing-card-con .card-con .card-img-con img {
  width: 100%;
  height: 100%;
}

.listing-main-container .listing-card-con .card-con .card-img-con .card-status {
  position: absolute;
  top: 10px;
  right: 12px;
  color: white;
  background-color: #77c720;
  padding: 2px 10px;
}

.listing-main-container .listing-card-con .card-con .card-img-con .card-location {
  position: absolute;
  bottom: 13px;
  left: 11px;
  color: white;
}

.listing-main-container .listing-card-con .card-con .card-img-con .card-location i {
  margin-right: 10px;
}

.listing-main-container .listing-card-con .card-con .card-img-con .card-photo-count {
  position: absolute;
  bottom: 13px;
  right: 10px;
  color: white;
  background-color: #00000082;
  padding: 0px 7px;
}

.listing-main-container .listing-card-con .card-con .card-img-con .card-photo-count i {
  margin-left: 7px;
}

.listing-main-container .listing-card-con .card-con .card-img-con .card-video-con {
  position: absolute;
  bottom: 13px;
  right: 72px;
  color: white;
  background-color: #00000082;
  padding: 0px 7px;
}

.listing-main-container .listing-card-con .card-con .card-img-con .card-video-con i {
  margin-left: 7px;
}

.listing-main-container .listing-card-con .card-con .card-info-con {
  padding: 30px;
}

.listing-main-container .listing-card-con .card-con .card-info-con .card-price {
  color: tomato;
  font-size: 20px;
  font-weight: 500;
}

.listing-main-container .listing-card-con .card-con .card-info-con .card-header {
  font-size: 22px;
  background-color: white;
  border: none;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 0 !important;
}

.listing-main-container .listing-card-con .card-con .card-info-con .card-text {
  font-size: 14px;
  margin-bottom: 1rem;
  line-height: 26px;
  color: #5c727d;
}

.listing-main-container .listing-card-con .card-con .card-info-con .card-sub-list ul {
  margin: 0 !important;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.listing-main-container .listing-card-con .card-con .card-info-con .card-sub-list ul li span {
  font-size: 14px;
  color: #5c727d;
}

.listing-main-container .listing-card-con .card-con .card-info-con .card-sub-list ul li i {
  margin-left: 7px;
  font-size: 14px;
  color: #5c727d;
}

.listing-main-container .listing-card-con .card-con .card-info-con .card-sub-list ul li p {
  font-size: 14px;
  color: #5c727d;
  margin: 0 !important;
}

.listing-main-container .listing-card-con .card-con .card-user-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.listing-main-container .listing-card-con .card-con .card-user-con .user-img-con img {
  width: 100%;
  border-radius: 50%;
  padding: 20px;
}

.listing-main-container .listing-card-con .card-con .card-user-con .user-info-con .user-info-name {
  font-weight: 600;
  font-size: 14px;
  margin: 0 !important;
}

.listing-main-container .listing-card-con .card-con .card-user-con .user-info-con .user-info-work {
  font-size: 12px;
  color: #5c727d;
  margin: 0 !important;
}

.listing-main-container .listing-card-con .card-con .card-user-con .card-user-btn-con ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 18px;
          column-gap: 18px;
  margin: 0 !important;
  padding: 0 !important;
}

.listing-main-container .listing-card-con .card-con .card-user-con .card-user-btn-con ul li {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.listing-main-container .listing-card-con .card-con .card-user-con .card-user-btn-con ul li i {
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */