
    @{ Layout = "_Layout"; }
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Model</th>
            <th scope="col">Brand</th>
            <th scope="col">Color</th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int i = 0; i < ViewBag.carList.Count; i++)
            {
                <tr>
                    <th scope="row">@ViewBag.carList[i].Id</th>
                    <td>@ViewBag.carList[i].Model</td>
                    <td>@ViewBag.carList[i].Brand</td>
                    <td>@ViewBag.carList[i].Color</td>
                </tr>
            }
        }
    </tbody>
</table>
